@import "./_hx-element";
@import 'core/hx-icon';

#backdrop {
  background-color: fade(@gray-1000, 60%);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: @modal-z-index;
}

#container {
  background-color: @gray-0;
  box-shadow: 0px 7px 9px 0 fade(@gray-1000, 30%);
  margin: auto;
  max-width: 37.5rem; //600px
  padding: 1.25rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
}

#close {
  color: @gray-700;
  cursor: pointer;
  height: .75rem;
  margin-right: 1.25rem;
  position: absolute;
  right: 0;
  width: .75rem;

  > svg {
    vertical-align: top;
  }
}

#header {
  margin-bottom: 1.25rem;
  min-height: .75rem;
}
